<a href="https://colab.research.google.com/github/etwalsaado/Practice/blob/main/basics_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 10
y = 3.5
name = "Sara"
is_ok = True
print("x:", x, "y:", y)
print(name.upper())
print("Is Ok", is_ok)

x: 10 y: 3.5
SARA
Is Ok True

In [2]:
a = 7
b = 2
print(a+b, a*b, a/b)
print(f"hello {name},sum is {a+b}")

9 14 3.5
hello Sara,sum is 9

In [4]:
score = 75
if score >= 90:
  print("A")
elif score >= 75:
  print("B")
else:
  print("C")

B

In [5]:
n = 13
if n % 2 == 0:
  print("Even")
else:
  print("Odd")

Odd

In [6]:
for i in range(5):
  print("i:", i)

i: 0
i: 1
i: 2
i: 3
i: 4

In [24]:
i = 0
while i < 5:
   if i == 3:
       i += 1
       continue
   print(i)
   i += 1

0
1
2
4

In [29]:
fruits = ["orange", "banana", "apple"]
fruits.append("mango")

In [30]:
print(fruits[0])

orange

In [31]:
for i in fruits:
  print(i)

orange
banana
apple
mango

In [36]:
nums = [5, 2, 9, 1, 7]
total = 0
max_v = nums[0]
for n in nums:
  total += n
  if n > max_v:
    max_v = n
print(total, max_v)

24 9

In [40]:
list = range(1,21)
new_list = []
for n in list:
  if n % 2 == 0:
    new_list.append(n)
print(new_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [41]:
age = 17
if age <= 18:
  print("Allowed")
else:
  print("Not allowed")

Allowed

In [42]:
x = -3
if x > 0:
  print("Positive")
elif x == 0:
  print("Zero")
else:
  print("Negative")

Negative

In [43]:
temp = 33
if temp >= 30:
  print("Hot")
elif temp < 20:
  print("Cold")
else:
  print("Warm")

Hot

In [44]:
score = [72, 65, 90, 85, 78]
for x in score:
  if x >= 90:
    print("A")
  elif x >= 75:
    print("B")
  else:
    print("C")

C
C
A
B
B

In [45]:
list = [1,2,3,4,5,6,7,8,9,10]
total = 0
for x in list:
  if x % 2 == 0:
    total += x
print(total)

30

In [46]:
list = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for x in list:
  if x % 2 == 0:
    sum += 1
print(sum)

5

In [47]:
fruits = ["orange", "banana", "apple"]
print(fruits[::-1])

['apple', 'banana', 'orange']

In [62]:
fruits = ["apple", "banana", "orange"]
fruits[1] = "avocado"
print(fruits)

['apple', 'avocado', 'orange']

In [67]:
list = range(1,31)
new_list = []
for x in list:
  if x % 3 == 0:
   new_list.append(x)
print(new_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [68]:
square = range(1,10)
for x in square:
  print(x**2)

1
4
9
16
25
36
49
64
81

In [69]:
square = []
for x in range(1,10):
  square.append(x**2)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]